body {
    background: #6e28d9;
    height: 90vh;
    font-size: 18px;
    /* Increase the default font size */
}

.container {
    display: flex;
    align-items: center;
        flex-direction: column;
        height: 100%;
}

.hud-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: 150px;
    margin-left: 150px;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 135px;
    /* Increase the board width */
    height: 450px;
    /* Increase the board height */
    background-color: greenyellow;
    border-radius: 104px;
    /* Increase the border-radius */
    border: 4px solid;
    /* Increase the border width */
    transform-style: preserve-3d;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

.board::before {
    content: "nose";
    position: absolute;
    top: 20px;
    /* Increase the vertical position of "nose" */
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 26px;
    /* Increase the font size */
    font-weight: bold;
}

.board::after {
    content: "tail";
    position: absolute;
    bottom: 20px;
    /* Increase the vertical position of "tail" */
    right: 50%;
    transform: translateX(50%);
    color: black;
    font-size: 26px;
    /* Increase the font size */
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Reduce font size for smaller screens */
    }

    .container {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        align-items: center;
    }

    .hud-container {
        margin: 20px;
        /* Reduce margin for smaller screens */
    }

    .board {
        width: 90px;
        /* Further reduce board width for smaller screens */
        height: 300px;
        /* Further reduce board height for smaller screens */
        border-radius: 52px;
        /* Reduce border radius for smaller screens */
        border: 2px solid;
    }

    .board::before,
    .board::after {
        font-size: 13px;
        /* Reduce font size for "nose" and "tail" labels */
    }
}